html, body, #map-canvas {
	height: 100%;
	/*font-family: Roboto;*/  /* added by shang */
	margin: 0px;
	padding: 0px
}

/****START OF LOGIN PAGE STYLES***/
.heading {
	text-align: center;
}

.formLogin {
	max-width: 500px;
}

.formLogin div {
	margin-left: 20px;
	margin-right: 20px;
}

#linkSignup {
	display: table;
	width: 100%
}

#linkSignup span {
	display: table-cell;
	text-align: center;
}


/****END OF LOGIN PAGE STYLES***/
/****START OF MAP PAGE STYLES***/
	  
#panel { /* not used ? */
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	font-family: Roboto;  /* added by shang */
}

/****END OF MAP PAGE STYLES***/